.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.page-wrapper {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.page-content {
  flex-grow: 1;
  padding: 1rem;
}

.page-sidebar {
  flex-shrink: 0;
}
