.root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: var(--sidebar-width);
  padding: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
  transition: width 0.3s;
}

.collapsed {
  align-items: center;
  width: var(--sidebar-collapsed-width);
  padding: 1rem 0.5rem;
}

.links {
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
