.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  padding: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
  transition: width 0.5s;
}

.collapsed {
  align-items: center;
  width: var(--sidebar-collapsed-width);
  padding: 1rem 0.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  width: var(--font-size-l);
  height: var(--font-size-l);
  margin-right: 1rem;
  fill: var(--primary-color);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
