@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/normal.scss";
@import "./themes/dark.scss";

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primarty-color);

	min-height: 100vh;
}
