.app.dark {
	--bg-color: rgb(5, 5, 81);
	--inverted-bg-color: rgb(4, 4, 64);

	--primary-color: #fff;
	--secondary-color: #ccc;
	--inverted-primary-color: #000;
	--inverted-secondary-color: rgb(47, 46, 46);
}
