.root {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: 1rem;
  background: var(--secondary-bg-color);
}

.link {
  font-size: var(--font-size-l);
  color: var(--primary-color);

  &:first-of-type {
    margin-right: 1rem;
  }
}

.ThemeSwitcher {
  margin: 0 10px;
}
