.root {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.small {
  font: var(--font-m);
}

.medium {
  font: var(--font-l);
}

.large {
  font: var(--font-xl);
}
